<%  let quantProducts = 0
    let products = []

    for(product of order.products) {
        products.push(dataProducts.find( productOrder => productOrder.id == product))
    } 
    %>

        <tr class="row" style="height:100px">
            <td class="product-image"><img class="product-image" src="<%= products[0].images[0] %>" alt="imagem do produto teste" class="image-product-order"></td>
            <td class="order-title-info"> <%= products[0].title %>
            </td>
            <td> 1 </td>
            <td>R$ <%= products[0].promotional_price %> </td>
            <td>R$ <%= (parseFloat(products[0].promotional_price) * 1).toFixed([2]).toString().replace('.', ',') %> </td>
            <td><a href="/loja/<%= products[0].slug %>" class="button-submit">Ver produto</a></td>
        </tr>


