<%  let product = dataProducts.find(productOrder => productOrder.id == productId) %>

<tr class="row" style="height:100px">
    <td class="product-image"><img class="product-image" src="<%= product.images[0]%>" alt="imagem do produto teste" class="image-product-order"></td>
    <td class="order-title-info"> <%= product.title %>
    </td>
    <td> 1 </td>
    <td>R$ <%= product.promotional_price %> </td>
    <td>R$ <%= (parseFloat(product.promotional_price) * 1).toFixed([2]).toString().replace('.', ',') %> </td>
    <td><a href="/loja/<%= product.slug %>" class="button-submit">Ver produto</a></td>
</tr>


