 <main class="container margin-header">
    <section class="page-cart">
        <%- include('../partials/menu-cart')%>
        <!-- começo div do conteudo  -->
        <div class="cart-content">
            <!-- começo divisão de junçao  -->
            <form action="" method="">
                <h1 class="subparagraph-my-cart">MEU CARRINHO</h1>
                
                <div class="cart-content-juction-specification-1">
                    <h4>MEU CARRINHO</h4>
                </div>
                
                <div class="cart-content-juction">
                    
                    <div class="content-juction-specification-product">
                        <div class="juction-specification-2-image-name-information">
                            <div class="especificanton-2-rectangle-img">
                                <img class="produtc-img" src="<%= product.slug%>" alt="imagem do produto">
                            </div>
                            <span class="information-product-img">
                                <h2 class="sub1"> <%= product.title %> </h2>
                                <p class="name-product">
                                    <%= product.short_description %>
                                </p>
                            </span>
                        </div>
                        <!-- <div class="content-juction-spacificantion-2"> -->
                            <div class="div-quantidade">
                                <h4>QUANTIDADE</h4>
                            
                                    <div class="juction-spacificantion-2-product-quantity">
                                        <button class="button-quantity more" id="more">+</button>
                                    
                                        <input class="the-amount"  type="text" id="soma" value="0" > 

                                        <button class="button-quantity less" id="less">-</button>
                                    </div>
                            </form>
                        </div>
                        <div class="div-preco">
                            <h4 class="subpa-preco">PREÇO</h4>
                            <h4>
                               R$ <%= product.price %>
                            </h4>
                        <!-- </div> -->
                    </div>
                    <div><button class="button-remover">REMOVER</button></div>
                </div> 

            <form action="/cart/delivery" method="post">   
                <div class="cart-contect-Oder-summary">
                    <h3 class="Oder-summary">RESUMO DO MEU PEDIDO</h3>
                    <div class="Oder_summary_name_value">
                        <p> <%= product.title %> </p>
                        <P> R$ <%= product.price %> </P>
                    </div>
                    <span class="Oder-summary-freight-value">
                        <p> Frete </p>
                        <P> R$4,99 </P>
                    </span>
                    <span class="Oder-summary-total-value">
                        <p> TOTAL </p>
                        <p> R$244,98 </p>  <!--(condição somando valores )-->
                    </span><br>
                    <span class="Oder-summary-fees">
                        <p> Em até 6x sem juros </p>
                    </span>
                
                     <button class="button-submit">
                        Continuar
                    </button>    
                </div>
            </form>
            <!--<a class="Oder-summary-link-to-add" href="""> Adicionar mais produtos </a>-->
            </div>
            <!-- final divisão de junçao  -->
            
        </div>
        <!-- final div do conteudo  -->
        <div class="cart-freight">
            <h2 class="cart-freigth-subparagrafo">Calcular Frete</h2>
            <form action="">
                <input class="cart-freight-calcular" type="text" name="fretes" placeholder="CEP">
            </form>
            <form class="cart-freight-deadline" action="">
                <div>
                    <input class="checkbox-delivery" type="checkbox" id="junho" name="junho"> 
                        <label 
                            for="junho">Entrega até 04 de <strong> Junho - R$ 14,99 </strong> 
                        </label>
                    </div>
                <div>
                    <input class="checkbox-delivery" type="checkbox" id="junho" name="junho"> 
                    <label
                        for="junho">Entrega até 04 de <strong> Junho - R$ 14,99 </strong> 
                    </label>
                </div>
            </form>
        </div>
    </section>
</main>