<main class="container margin-header">
    <section class="product-route">
        <a href="../../">Home</a>
        <span>></span>
        <a href="../loja">Loja</a>
        <span>></span>
        <a href="../loja?categorie=<%= product.product_category[0] %>"><%= product.product_category[0] %></a>
        <span>></span>
        <a href=""><strong><%= product.title %></strong></a>
    </section>

    <section class="product-content">
        <div class="product-infos">
            <div class="product-infos-images">
    
                <div class="principal-image">
                    <img id="principal-image" src="<%= product.images[0].file_url %>" alt="">

                    <div class="share-buttons">
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </div>
    
                <div class="secondary-images">
                    <div>
                        <% if(product.images.length > 2) { %>
                            <a href="" class="left-arrow-button button no-more"></a>
                        <% for(image of product.images){ %>
                            <div class="secondary-images-min">
                                <img src="<%= image.file_url %>" alt="">
                            </div>
                            
                        <% } %>
                            <a href="" class="right-arrow-button button no-more"></a>
                        <% } %>


                    </div>
                </div>
                
            </div>
    
            <div class="product-info">
                <div class="product-info-description">
                    <h2><%= product.title %> - <%= product.brand %></h2>
                    <div>
                        <p><%= product.short_description %></p>
                        <a href="#product-details">Ver mais detalhes</a>
                    </div>
                </div>
                <div class="product-info-price">
                    <span>R$ <%= (product.price).toFixed(2) %></span>
                    <h3>R$ <%= (product.promotional_price).toFixed(2) %></h3>
                    <% if (product.promotional_price >= 50) { %>
                        <span>6x de R$<%=  (parseInt(product.promotional_price)/6).toFixed(2) %> sem juros</span>
                    <% } %>
                    <% if (product.promotional_price >= 20 && product.promotional_price < 50) { %>
                        <span>3x de R$<%=  (parseInt(product.promotional_price)/3).toFixed(2) %> sem juros</span>
                    <% } %>
                    <% if (product.promotional_price <20) { %>
                        <span>2x de R$<%=  (parseInt(product.promotional_price)/2).toFixed(2) %> sem juros</span>
                    <% } %>
                </div>
    
                <div class="product-info-shipping">
                    <span>Calcular frete</span>
                    <form class="product-info-cep">
                        <input type="text" placeholder="CEP" id="cep">
                        <button type="button" id="button-cep"><img src="/img/icons/search-icon-b.png" alt=""></button>
                    </form>
                    <div class="product-info-cep-price" id="shipping-infos">
                    </div>
                </div>
    
                <!-- <div class="product-info-model">
                    <span>Modelo/Cor</span>
                    <div>
                        <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                        <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                        <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                        <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                    </div>
                </div> -->
                <a class="button" href="/cart"><button class="product-info-button button-submit">Comprar</button ></a>

                <script  src="/scripts/add-to-cart.js"></script>

            </div>
    
        </div>

        <% if(productsData.length > 3) {%>
        <div class="section-products-list">
            <h2 class="h2-sections">Relacionados</h2>
            <%- include('../partials/product-list.ejs') %>
        </div>
        <% }%>
        
        <div class="product-details" id="product-details">
            <h2 class="h2-sections">Sobre o produto</h2>

            <div class="product-details-blocks">
                <div class="product-details-block">
                    <h3>Informações técnicas</h3>
                    <div>
                        <p>Título: <%= product.title %></p>
                        <p>Marca: <%= product.brand %></p>
                        <p>Ano lançamento: <%= product.year %></p>
                        <p>Categoria Principal: <%= product.product_category[0] %></p>
                        <% for(category of product.product_category){ %>
                            <p>Categorias:  <%= category.title %></p>
                        <% } %>
                    </div>
                </div>

                <div class="product-details-block">
                    <h3>Conheça mais</h3>
                    <div>
                        <p><%= product.short_description%></p><br>
                        <p><%= product.full_description%></p>
                    </div>
                </div>

            </div>
        </div>

        <% if(productsData.length > 3) {%>
        <div class="section-products-list">
            <h2 class="h2-sections">Promoções Imperdíveis</h2>
            <%- include('../partials/product-list.ejs') %>
        </div>
        <% }%>

        <% if(productsData.length > 3) {%>
        <div class="section-products-list">
            <h2 class="h2-sections">Popular Nessa Categoria</h2>
            <%- include('../partials/product-list.ejs') %>
        </div>
        <% }%>

    </section>

</main>
                    