
<main class="container margin-header-over">
    <section class="user-page">
        <%- include('../partials/user-sidebar.ejs') -%>

        <div class="user-page-data">
            <h1 class="user-page-data-title">Meus Dados</h1> 

            <div class="user-page-data-blocks background-block
            ">
                <div class="user-page-data-infos acess-infos">
                    <h2 class="title">Informações de Acesso</h2>
                    <div>
                        <span class="info"> <%= user.name %> </span>
                        <span class="info"> <%= user.email %> </span>
                    </div>
                    <a href="/usuario/<%= user.slug %>/conta"><button class="button-submit">ALTERAR</button></a>
                </div>
                <div class="user-page-data-infos adress-infos">
                    <h2 class="title">Endereço Principal</h2>
                    <div>
                        <span class="info">Apelido: <%= user.adresses[0].title %></span>
                        <span class="info"><%= user.adresses[0].street %> - nº <%= user.adresses[0].number %></span>
                        <span class="info"><%= user.adresses[0].city %>, <%= user.adresses[0].state %> - <%= user.adresses[0].zip_code %></span>
                        <span class="info">Tel: (66) 98411-5450</span>
                    </div>
                    <a href="/usuario/<%= user.slug %>/conta"><button class="button-submit">ALTERAR</button></a>
                </div>
            </div>

            <div class="background-block
            ">
                <%- include('../partials/order-list.ejs') -%>  
            </div>
        </div>
    </section>
</main>
