
<main class="container margin-header-over">
    <section class="user-page">
        <div class="user-page-options">
            <a href="./<%= user.slug %>" class="user-page-option account option-select">
                <div class="image">
                    <img class="image-icon" src="/img/icons/user-icon-b.png" alt="perfi"> 
                </div>
                <span>Minha Conta</span>
            </a>
            <a href="./<%= user.slug %>/pedidos" class="user-page-option orders">
                <div class="image">
                    <img class="image-icon" src="/img/icons/caixa-icon-b.png" alt="caixa de Pedidos"> 
                </div>
                <span>Meus Pedidos</span>
            </a>
            <a href="#" class="user-page-option infos">
                <div class="image">
                    <img class="image-icon" src="/img/icons/paciente-icon-b.png" alt="Dados pessoais"> 
                </div>
                <span>Meus Dados</span>
            </a>
        </div>

        <div class="user-page-data">
            <h1 class="user-page-data-title">Pedido #<%= order.id%></h1> 

            <div class="user-page-data-blocks">
                <div class="user-page-data-infos acess-infos">
                    <h2 class="title">Endereço de Entrega</h2>
                    <div>
                        <span class="info"> <%= user.name %> </span>
                        <span class="info"><%= user.addresses[0].street %> - nº <%= user.addresses[0].number %></span>
                        <span class="info"><%= user.addresses[0].city %>, <%= user.addresses[0].state %> - <%= user.addresses[0].zip_code %></span>
                        <span class="info">Tel: (66) 98411-5450</span>
                    </div>
                </div>


                <div class="order-resume">
                    <h2 class="title">RESUMO DO PEDIDO</h2>
                    <table>
                        <tr style="height:25px">
                            <%  let quantProducts = 0
                                let products = []
                                let totalValueproducts = 0

                                for(product of order.products) {
                                    products.push(dataProducts.find( productOrder => productOrder.id == product))

                                    const productOrder = dataProducts[product]
                                    console.log(productOrder)
                                    console.log(productOrder.promotional_price_status)


                                    if (productOrder.promotional_price_status == true) {
                                        totalValueproducts += parseFloat(productOrder.promotional_price)

                                        console.log("-----------------")
                                        console.log(promotional_price_status)

                                    } else {
                                        totalValueproducts += parseFloat(productOrder.price)
                                        console.log(totalValueproducts)
                                    }
                                } 
                
                                quantProducts = products.length 
                            %>

                                
                            <td> <%= quantProducts %> Produtos </td>
                            <td class="text-end"> R$ <%= totalValueproducts.toFixed([2]).toString().replace('.', ',') %> </td>
                        </tr>
                        <tr style="height:25px">
                                
                            <td>Frete</td>
                            <td class="text-end"> R$ <%= order.delivery_price %> </td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <tr style="height:25px" class="strong">    
                            <td>TOTAL</td>
                            <td class="text-end"> R$ <%= (parseFloat(order.delivery_price) + totalValueproducts).toFixed([2]).toString().replace('.', ',') %> </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="user-page-data-infos acess-infos">
                <h2 class="title">Metodo de Entrega</h2>
                <span class="info"> Intelipost - Jadlog - de 1 a 9 dias úteis </span>
            </div>

            <div class="orders-list">
                <h3>PRODUTOS</h1>
                <table class="orders-list-table"  BORDER RULES=rows>
                    <tr class="table-titles" style="height:35px">
                        <th class="order" colspan="2">Produto</th>
                        <th>Quantidade</th>
                        <th style="width:20%">Valor</th>
                        <th style="width:15%">Valor Total</th>
                    </tr>

                    <% for(product of order.products) { %>
                        <%- include('../partials/product-line.ejs') -%>
                    <% } %>
                </table>
            </div>

        </div>
    </section>
</main>
