<main class="container margin-header-over">
    
    <section class="user-page">
        <%- include('../partials/user-sidebar.ejs') -%>
        <div class="user-page-data">
            <h1 class="user-informations-title">Meus Dados</h1> 

            <div class="user-informations-block">
                <h2>Dados Pessoais</h2>

                <form action="post">
                    <div class="user-informations-block-div">
                        <label for="user-name">Nome Completo</label>
                        <input type="text" name="name" id="name" value="<%= user.name%>">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%= user.email%>">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div">
                            <label for="cpf">CPF</label>
                            <input type="text" name="cpf" id="cpf" value="<%= user.cpf%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="birth-date">Data Nascimento</label>
                            <input type="date" name="birth-date" id="birth-date" value="">
                        </div>
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div  class="user-informations-block-div">
                            <label for="phone">Telefone</label>
                            <input type="text" name="phone" id="phone" value="<%= user.phone%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="gender">Gênero</label>
                            <select name="gender" id="gender" value="a">
                                <option value="masc"></option>
                                <option value="masc">Masculino</option>
                                <option value="fem" selected>Feminino</option>
                                <option value="outher">Outro</option>
                                <option value="uninformed">Prefiro não informar</option>
                           </select>
                        </div>
                    </div>
                    <button class="button-submit" type="submit">Salvar</button>
                </form>
                
                
            </div>

            <div class="user-informations-block">
                <h2>Endereço</h2>

                <form action="">
                    <div class="user-informations-block-div">
                        <label for="">Nome do Desitnatário</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Endereço</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div duo40">
                            <label for="">Número</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">Bairro</label>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Complemento</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div">
                            <label for="">Cidade</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">Estado</label>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Ponto de Referência</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div ">
                            <label for="">Telefone de Contato</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">CEP</label>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                    <button class="button-submit" type="submit">Salvar</button>

                </form>
                
            </div>

        </div>
    </section>

</main>