
<main class="container margin-header-over">
    <section class="user-page">
        
        <%- include('../partials/user-sidebar.ejs') -%>

        <div class="user-page-data">
            <h1 class="user-page-data-title">Pedido #<%= order.id%></h1> 

            <div class="user-page-data-blocks">
                <div class="user-page-data-infos shipping-address">
                    <h2 class="title">Endereço de Entrega</h2>
                    <div>
                        <span class="info"> <%= user.name %> </span>
                        <span class="info"><%= user.addresses[0].street %> - nº <%= user.addresses[0].number %></span>
                        <span class="info"><%= user.addresses[0].city %>, <%= user.addresses[0].state %> - <%= user.addresses[0].zip_code %></span>
                        <span class="info">Tel: (66) 98411-5450</span>
                    </div>
                </div>


                <div class="order-resume">
                    <h2 class="title">RESUMO DO PEDIDO</h2>
                    <table>
                        <tr style="height:25px">
                            <%  let quantProducts = 0
                                let products = []
                                let totalValueproducts = 0

                                for(productId of order.products) {
                                    
                                    productOrder = dataProducts.find( productOrder => productOrder.id == productId)
                                    products.push(dataProducts.find( productOrder => productOrder.id == productId))
                                    
                                    
                                    if (productOrder.promotional_price_status == true) {
                                        totalValueproducts += parseFloat(productOrder.promotional_price)
                                    } else {
                                        totalValueproducts += parseFloat(productOrder.price)
                                    }
                                } 
                
                                quantProducts = products.length 
                            %>

                                
                            <td> <%= quantProducts %> Produtos </td>
                            <td class="text-end"> R$ <%= totalValueproducts.toFixed([2]).toString().replace('.', ',') %> </td>
                        </tr>
                        <tr style="height:25px">
                                
                            <td>Frete</td>
                            <td class="text-end"> R$ <%= order.delivery_price %> </td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <tr style="height:25px" class="strong">    
                            <td>TOTAL</td>
                            <td class="text-end"> R$ <%= (parseFloat(order.delivery_price) + totalValueproducts).toFixed([2]).toString().replace('.', ',') %> </td>
                        </tr>
                    </table>
                </div> 
            </div>

            <div class="background-block user-page-data-infos shipping-infos user-page-data-blocks">
                <h2 class="title">Metodo de Entrega</h2>
                <span class="info"> Intelipost - Jadlog - de 1 a 9 dias úteis </span>
            </div>


            <!-- ----------------- Listing Order Products ------------------ -->
            <%- include('../partials/product-listing.ejs') -%>
            

        </div>
    </section>
</main>
