<main class="container margin-header-over">
    
    <section class="user-page">
        <%- include('../partials/user-sidebar.ejs') -%>
        <div class="user-page-data">
            <h1 class="user-informations-title">Meus Dados</h1> 

            <div class="user-informations-block background-block">
                <h2>Dados Pessoais</h2>

                <form class="form-user-account" method="post" action="/usuario/<%= user.slug%>/conta">
                    <div class="user-informations-block-div">
                        <label for="user-name">Nome Completo</label>
                        <input type="text" name="name" id="name" value="<%= user.name%>">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%= user.email%>">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div">
                            <label for="cpf">CPF</label>
                            <input type="text" name="cpf" id="cpf" value="<%= user.cpf%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="birth-date">Data Nascimento</label>
                            <input type="date" name="birthDate" id="birth-date" value="<%= user.birt_date%>">
                        </div>
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div  class="user-informations-block-div">
                            <label for="phone">Telefone</label>
                            <input type="text" name="phone" id="phone" value="<%= user.phone%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="gender">Gênero</label>
                            
                            <select name="gender" id="gender">
                                <option value="null" <%= user.gender == 'null' ? 'selected' : '' %> ></option>
                                <option value="masc" <%= user.gender == 'masc' ? 'selected' : '' %> >Masculino</option>
                                <option value="fem" <%= user.gender == 'fem' ? 'selected' : '' %> >Feminino</option>
                                <option value="outher" <%= user.gender == 'outher' ? 'selected' : '' %> >Outro</option>
                                <option value="uninformed" <%= user.gender == 'uninformed' ? 'selected' : '' %> >Prefiro não informar</option>
                            </select>
                        </div>
                    </div>

                    <div class="div-message account-message">
                        <% if (message.type == "account" && message.content != "") { %>
                            <span class="in-line-message"> <%= message.content %> </span>
                        <% } %>
                    </div>
                    
                    <button class="button-submit" type="submit">Salvar</button>      

                </form>
                
                
            </div>

            <div class="user-informations-block background-block">
                <h2>Endereço</h2>

                <% if(user.adresses) { %>
                <form method="post" action="/usuario/<%= user.slug%>/conta/endereco" class="form-user-address">
                    <div class="user-informations-block-div">
                        <label for="">Apelido do Endereço</label>
                        <input type="text" name="title" id="title" value="<%= user.adresses[0].title %>">
                    </div>
                    <!-- <div class="user-informations-block-div">
                        <label for="">Nome do Destinatário</label>
                        <input type="text" name="name" id="name">
                    </div> -->
                    <div class="user-informations-block-div">
                        <label for="">Endereço</label>
                        <input type="text" name="street" id="street" value="<%=user.adresses[0].street%>">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div duo40">
                            <label for="">Número</label>
                            <input type="text" name="number" id="number" value="<%=user.adresses[0].number%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">Bairro</label>
                            <input type="text" name="district" id="district" value="<%=user.adresses[0].district%>">
                        </div>
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Complemento</label>
                        <input type="text" name="complement" id="complement" value="<%=user.adresses[0].complement%>">
                    </div>
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div">
                            <label for="">Cidade</label>
                            <input type="text" name="city" id="city" value="<%=user.adresses[0].city%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">Estado</label>
                            <input type="text" name="state" id="state" value="<%=user.adresses[0].state%>">
                        </div>
                    </div>
                    <!-- <div class="user-informations-block-div">
                        <label for="">Ponto de Referência</label>
                        <input type="text" name="" id="" value="<%=user.adresses[0].title%>">
                    </div> -->
                    <div class="user-informations-block-div user-informations-block-div-duo">
                        <div class="user-informations-block-div ">
                            <label for="">Telefone de Contato da Entrega</label>
                            <input type="text" name="contact" id="contact" value="<%=user.adresses[0].shipping_contact_phone%>">
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">CEP</label>
                            <input type="text" name="zipCode" id="zipCode" value="<%=user.adresses[0].zip_code%>">
                        </div>
                    </div>

                    <div class="div-message address-message">
                        <% if (message.type == "shipping" && message != "") { %>
                            <span class="in-line-message"> <%= message.content %> </span>
                            <% } %>
                        </div>  
                        
                        <button class="button-submit" type="submit">Salvar</button>
                </form>
                <% } else { %>
                    <form method="post" action="/usuario/<%= user.slug%>/conta/endereco" class="form-user-address">
                        <div class="user-informations-block-div">
                            <label for="">Apelido do Endereço</label>
                            <input type="text" name="title" id="title">
                        </div>
                        <!-- <div class="user-informations-block-div">
                            <label for="">Nome do Destinatário</label>
                            <input type="text" name="name" id="name">
                        </div> -->
                        <div class="user-informations-block-div">
                            <label for="">Endereço</label>
                            <input type="text" name="street" id="street">
                        </div>
                        <div class="user-informations-block-div user-informations-block-div-duo">
                            <div class="user-informations-block-div duo40">
                                <label for="">Número</label>
                                <input type="text" name="number" id="number">
                            </div>
                            <div class="user-informations-block-div">
                                <label for="">Bairro</label>
                                <input type="text" name="district" id="district">
                            </div>
                        </div>
                        <div class="user-informations-block-div">
                            <label for="">Complemento</label>
                            <input type="text" name="complement" id="complement">
                        </div>
                        <div class="user-informations-block-div user-informations-block-div-duo">
                            <div class="user-informations-block-div">
                                <label for="">Cidade</label>
                                <input type="text" name="city" id="city">
                            </div>
                            <div class="user-informations-block-div">
                                <label for="">Estado</label>
                                <input type="text" name="state" id="state">
                            </div>
                        </div>
                        <!-- <div class="user-informations-block-div">
                            <label for="">Ponto de Referência</label>
                            <input type="text" name="" id="">
                        </div> -->
                        <div class="user-informations-block-div user-informations-block-div-duo">
                            <div class="user-informations-block-div ">
                                <label for="">Telefone de Contato da Entrega</label>
                                <input type="text" name="contact" id="contact">
                            </div>
                            <div class="user-informations-block-div">
                                <label for="">CEP</label>
                                <input type="text" name="zipCode" id="zipCode">
                            </div>
                        </div>
    
                        <div class="div-message address-message">
                            <% if (message.type == "shipping" && message != "") { %>
                                <span class="in-line-message"> <%= message.content %> </span>
                                <% } %>
                            </div>  
                            
                            <button class="button-submit" type="submit">Salvar</button>
                    </form>
                <% } %>
                    
            </div>
            <form class="delete-account" method="post" action="/usuario/<%= user.slug%>/excluir/<%= user.id%>">
                <button type="submit" class="delete-account">
                    <span class="buttom-delete-red material-symbols-outlined">delete</span>
                    Quero excluir minha conta 
                </button>
            </form>
        </div>
    </section>


</main>