<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(page == 'product') { %>
        <title><%= product.title%></title>
    <% } else if(page == 'store') { %>
        <title><%= page %></title>
    <% } else { %>
        <title><%= page %></title>
    <% } %>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- Link Material Symbols for icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css">
    
    <!-- Link to partials CSS -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/<%=page%>.css">
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/partials/aside-admin-painel.css">
    <link rel="stylesheet" href="/css/partials/nav-admin-painel.css">
    
</head>
<body>
    
    <%- include('./partials/sidebar-admin-painel.ejs') %>
    <%- include('./partials/nav-admin-painel.ejs') %>
    <%- include('./components/' + page) -%> 
    
    
</body>





<!-- Script for pagination -->
<script src="/scripts/admin-data-pagination.js"></script>

<!-- Script for Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Script for sidebar -->
<script type="text/javascript" src="/scripts/admin-menu.js"></script>
</html>