<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(page == 'product') { %>
        <title><%= product.title%></title>
    <% } else if(page == 'store') { %>
        <title><%= page %></title>
    <% } else { %>
        <title><%= page %></title>
    <% } %>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/<%=page%>.css">
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/partials/product-item.css">
    <link rel="stylesheet" href="/css/partials/product-list.css">
    <link rel="stylesheet" href="/css/partials/product-listing.css">
    <link rel="stylesheet" href="/css/partials/order-list.css">
    <link rel="stylesheet" href="/css/partials/user-sidebar.css">
    <link rel="stylesheet" href="/css/partials/button/button-submit.css">
    <link rel="stylesheet" href="/css/partials/buttons/left-right-buttons.css">
    
</head>
<body>
    
    <%- include('./partials/header.ejs') %>
    
    <%- include('./components/' + page) -%> 
    
    <%- include('./partials/footer.ejs') %>
    
</body>
<script src="../scripts/smooth-scroll.js"></script>
<!-- <script>
    window.setInterval('refresh()', 3000);
    function refresh() {
        window .location.reload();
    }
</script> -->
</html>