<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(page == 'product') { %>
        <title><%= product.title%></title>
    <% } else if(page == 'store') { %>
        <title><%= page %></title>
    <% } else { %>
        <title><%= page %></title>
    <% } %>


    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- Link Material Symbols for icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css">
        
    <!-- Link to partials CSS -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/<%=page%>.css">
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/partials/product-item.css">
    <link rel="stylesheet" href="/css/partials/product-list.css">
    <link rel="stylesheet" href="/css/partials/product-listing.css">
    <link rel="stylesheet" href="/css/partials/menu-cart.css">
    <link rel="stylesheet" href="/css/partials/order-list.css">
    <link rel="stylesheet" href="/css/partials/user-sidebar.css">
    <link rel="stylesheet" href="/css/partials/buttons/button-submit.css">
    <link rel="stylesheet" href="/css/partials/buttons/left-right-buttons.css">
    <link rel="stylesheet" href="/css/cart-payment-pix.css">
</head>
<body>
    
    <%- include('./partials/header.ejs') %>
    
    <%- include('./components/' + page) -%> 
    
    <%- include('./partials/footer.ejs') %>
    
</body>





<!-- Script for format money values -->
<script type="text/javascript" src="/scripts/utils.js"></script>


<!-- Script for get Shipping infos -->
<script type="text/javascript" src="/scripts/cep-request.js"></script>


<!-- Swiper JS (for home slider) -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    // autoplay: {
    //   delay: 3000,
    // },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      // when window width is >= 320px
      750: {
        arrows: false,
        navigation: {
          hiddenClass: 'swiper-button-hidden'
        }
      }
    }
  });
</script>

<!-- Smooth Scroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/scripts/smooth-scroll.js"></script>

<!-- Change imagens on product page -->
<script src="/scripts/change-product-images.js"></script>

<!-- Import JS Payments -->
<script src="/scripts/payments.js"></script>

<!-- Change page selected on user sidebar -->
<script src="/scripts/user-sidebar.js"></script>

<!-- Change page selected on header -->
<script src="/scripts/header.js"></script>

<!-- Slick JS (for products carousel) -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
<script>
  $('.carousel').each(function(){
    $(this).slick({

      infinite: true,
      speed: 500,
      slidesToShow: 4,
      slidesToScroll: 2,
      arrows: true,
      prevArrow: $(this).parent().find('.prev'),
      nextArrow: $(this).parent().find('.next'),
      responsive: [
        {
          breakpoint: 1025,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 610,
          settings: {
            slidesToShow: 2
          }
        }
      ]
    })
  })
</script>

</html>