<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/css/product-page.css">
</head>
<body>

    <main class="container">
        <section class="product-route">
            <a href="">Home</a>
            <span>></span>
            <a href="">Loja</a>
            <span>></span>
            <a href="">Categoria</a>
            <span>></span>
            <a href="">Produto</a>
        </section>

        <section class="product-content">
            <div class="product-infos">
                <div class="product-infos-images">
        
                    <div class="principal-image">
                        <img src="<%= product.images[0] %>" alt="">

                        <div class="share-buttons">
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                    </div>
        
                    <div class="secondary-images">
                        <div>
                            <a href="" class="left-arrow-button button"></a>
                            <% let arrayImages = product.images
                            for(  i = 1, i <= arrayImages.length, i++) {%>
                                <a href="" class="secondary-images-min">
                                    <img src="<%= arrayImages[i] %>" alt="">
                                </a>
                            <% } %>

                            <a href="" class="right-arrow-button button"></a>

                        </div>
                    </div>
                    
                </div>
        
                <div class="product-info">
                    <div class="product-info-description">
                        <h2><%= product.title %> <%= product.id %> - <%= product.brand %></h2>
                        <div>
                            <p><%= product.short_description %></p>
                            <a href="#product-details">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="product-info-price">
                        <span>R$ <%= product.price %></span>
                        <h3>R$ <%= product.promotional_price %></h3>
                        
                        <span>6x de R$<%=  (parseInt(product.promotional_price)/6).toFixed(2) %> sem juros</span>
                    </div>
        
                    <div class="product-info-shipping">
                        <div class="product-info-cep">
                            <input type="text" placeholder="CEP">
                            <button><img src="../public/img/icons/search-icon-b.png" alt=""></button>
                        </div>
                        <div class="product-info-cep-price">
                            <span>R$ 14,99</span>
                            <span>Entrega até <strong>04 de Junho</strong></span>
                        </div>
                    </div>
        
                    <div class="product-info-model">
                        <span>Modelo/Cor</span>
                        <div>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                        </div>
                    </div>
        
                    <button class="product-info-button button-submit">Comprar</button>
                </div>
        
            </div>

            <section class="section-products-list">
                <h2 class="h2-sections">Selecionados Para Você</h2>
                <%- include('./partials/product-list.ejs') %>
            </section>

            <div class="product-details" id="product-details">
                <h3>Sobre o produto</h3>

                <div class="product-details-blocks">
                    <div class="product-details-block">
                        <h3>Informações técnicas</h3>
                        <div>
                            <p>Título: <%= product.title %></p>
                            <p>Marca: <%= product.brand %></p>
                            <p>Ano lançamento: <%= product.year %></p>
                            <% for(categorie of product.categories){ %>
                                <p>Categoria:  <%= categorie %></p>
                            <% } %>
                        </div>
                    </div>

                    <div class="product-details-block">
                        <h3>Conheça mais</h3>
                        <div>
                            <p><%= product.short_description%></p><br>
                            <p><%= product.full_description%></p>
                        </div>
                    </div>

                </div>
            </div>

            <section class="section-products-list">
                <h2 class="h2-sections">Selecionados Para Você</h2>
                <%- include('./partials/product-list.ejs') %>
            </section>

            <section class="section-products-list">
                <h2 class="h2-sections">Selecionados Para Você</h2>
                <%- include('./partials/product-list.ejs') %>
            </section>
        </section>

    </main>
    
</body>
</html>
